{% extends "base.html" %}

{% block content %}

<body class="nk-body bg-white npc-default pg-auth">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                        <div class="brand-logo pb-4 text-center"><a href="/index.html" class="logo-link"><img
                                    class="logo-light logo-img logo-img-lg" src="../static/images/logo.png"
                                    srcset="../static/images/logo2x.png 2x" alt="logo"><img
                                    class="logo-dark logo-img logo-img-lg" src="../static/images/logo-dark.png"
                                    srcset="../static/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h4 class="nk-block-title">Start tracking in seconds</h4>
                                    </div>
                                </div>
                                <form action="/pages/auths/auth-success-v2.html">
                                    <div class="form-group"><label class="form-label" for="name">Name</label><input
                                            type="text" class="form-control form-control-lg" id="name"
                                            placeholder="Your name"></div>
                                    <div class="form-group"><label class="form-label"
                                            for="organization-name">Organization</label><input type="text"
                                            class="form-control form-control-lg" id="organization-name"
                                            placeholder="Organization Name"></div>
                                    <div class="form-group"><label class="form-label" for="email">Email</label><input
                                            type="text" class="form-control form-control-lg" id="email"
                                            placeholder="you@company.com"></div>
                                    <div class="form-group"><label class="form-label" for="password">Password</label>
                                        <div class="form-control-wrap"><a href="#"
                                                class="form-icon form-icon-right passcode-switch"
                                                data-target="password"><em
                                                    class="passcode-icon icon-show icon ni ni-eye"></em><em
                                                    class="passcode-icon icon-hide icon ni ni-eye-off"></em></a><input
                                                type="password" class="form-control form-control-lg" id="password"
                                                placeholder="Password (6+ characters)"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-control-xs custom-checkbox"><input
                                                type="checkbox" class="custom-control-input" id="checkbox"><label
                                                class="custom-control-label" for="checkbox">I would like to receive
                                                updates via email</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-control-xs custom-checkbox"><input
                                                type="checkbox" class="custom-control-input" id="checkbox"><label
                                                class="custom-control-label" for="checkbox">I agree to the <a
                                                    href="#">Terms of Service</a> &amp; <a href="#"> Privacy Policy.</a></label>
                                        </div>
                                    </div>
                                    <div class="form-group"><button
                                            class="btn btn-lg btn-primary btn-block">CREATE YOUR ACCOUNT</button></div>
                                </form>
                                <div class="form-note-s2 text-center pt-4"> Already have an account? <a
                                        href="{{url_for('auth.login')}}"><strong>Sign in
                                            instead</strong></a></div>
                                <div class="text-center pt-4 pb-3">
                                    <h6 class="overline-title overline-title-sap"><span>OR</span></h6>
                                </div>
                                <ul class="nav justify-center gx-8">
                                    <li class="nav-item"><a class="nav-link" href="#">GOOGLE</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">GITHUB</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">AZURE DEVOPS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    {% include "script.html" %}
</body>
{% endblock %}