<div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg" data-toggle-body="true">
    <div class="nk-sidebar-menu" data-simplebar>
        <ul class="nk-menu nk-menu-main">
            <li class="nk-menu-item"><a href="/demo4/index.html" class="nk-menu-link"><span
                        class="nk-menu-text">Overview</span></a></li>
            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                        class="nk-menu-text">Apps</span></a>
                <ul class="nk-menu-sub">
                    <li class="nk-menu-item"><a href="/demo4/apps-messages.html" class="nk-menu-link"><span
                                class="nk-menu-text">Messages</span></a></li>
                    <li class="nk-menu-item"><a href="/demo4/apps-inbox.html" class="nk-menu-link"><span
                                class="nk-menu-text">Inbox /
                                Mail</span></a></li>
                    <li class="nk-menu-item"><a href="/demo4/apps-file-manager.html" class="nk-menu-link"><span
                                class="nk-menu-text">File
                                Manager</span></a></li>
                    <li class="nk-menu-item"><a href="/demo4/apps-chats.html" class="nk-menu-link"><span
                                class="nk-menu-text">Chats /
                                Messenger</span></a></li>
                    <li class="nk-menu-item"><a href="/demo4/apps-calendar.html" class="nk-menu-link"><span
                                class="nk-menu-text">Calendar</span><span
                                class="nk-menu-badge badge-warning">New</span></a></li>
                    <li class="nk-menu-item"><a href="/demo4/apps-kanban.html" class="nk-menu-link"><span
                                class="nk-menu-text">Kanban
                                Board</span><span class="nk-menu-badge badge-warning">New</span></a></li>
                </ul>
            </li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-text">Components</span></a>
            </li>
            <li class="nk-menu-item"><a href="/demo4/support-kb.html" class="nk-menu-link"><span
                        class="nk-menu-text">Support</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/pages/contact.html" class="nk-menu-link"><span
                        class="nk-menu-text">Contact</span></a></li>
        </ul>
        <ul class="nk-menu">
            <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">MENU</h6>
            </li>
            <li class="nk-menu-item"><a href="/demo4/email-templates.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-grid-alt"></em></span><span
                        class="nk-menu-text">Projects</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-alert-circle"></em></span><span
                        class="nk-menu-text">Issues</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-link-group"></em></span><span
                        class="nk-menu-text">Performance</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-reload-alt"></em></span><span
                        class="nk-menu-text">Releases</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-user-alt"></em></span><span class="nk-menu-text">User
                        Feedback</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-bell"></em></span><span
                        class="nk-menu-text">Alerts</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-search"></em></span><span
                        class="nk-menu-text">Discover</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-opt"></em></span><span
                        class="nk-menu-text">Activity</span></a></li>
            <li class="nk-menu-item"><a href="/demo4/components.html" class="nk-menu-link"><span
                        class="nk-menu-icon"><em class="icon ni ni-layers"></em></span><span
                        class="nk-menu-text">Stats</span></a></li>
        </ul>
    </div>
    <div class="nk-aside-close"><a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
    </div>
</div>