<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Error tracking that helps developers monitor and fix crashes in real time. Iterate continuously. Boost workflow efficiency. Improve user experience.">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">
    <title>{% if title %} {{title}} {% else %} Welcome to Sentinel {% endif %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashlite.css')}}">
    <link id="skin-default" rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}">
</head>
{% block content %}
{% endblock %}
</html>