{% extends "base.html" %}

{% block content %}
<style>
    pre {
        overflow: auto !important;
    }

    .pln {
        font-size: 13px !important;
    }

    .preview-btn-list-fw .preview-btn-item {
        width: auto !important;
    }
</style>

<body class="nk-body bg-white npc-default has-aside ">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap ">
                {% include "header.html" %}
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include "aside.html" %}
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Configure {{platform}}</h3>
                                            <div class="nk-block-des">
                                                <div class="alert alert-secondary alert-icon">
                                                    <em class="icon ni ni-alert-circle"></em>&nbsp;<span>This is a quick
                                                        getting started guide. For in-depth instructions on integrating
                                                        Sentinel with Flask, view</span>&nbsp;<a href="#"
                                                        class="alert-link">our complete
                                                        documentation</a>.
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="nk-block-des">
                                            <p class="lead">The Flask integration adds support for the <a
                                                    href="https://flask.palletsprojects.com/">Flask Web Framework</a>
                                            </p>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="code-block">
                                        <h6 class="overline-title title" style="text-transform: none;">Install
                                            <code>sentinel-sdk</code> from PyPI with the <code>flask</code>
                                            extra:
                                        </h6><button class="btn btn-sm clipboard-init" title="Copy to clipboard"
                                            data-clipboard-target="#Toast1" data-clip-success="Copied"
                                            data-clip-text="Copy"><span class="clipboard-text">Copy</span></button>
                                        <pre class="prettyprint lang-html"
                                            id="Toast1"><span class="tag">pip install --upgrade 'sentinel-sdk[flask]'</span></pre>
                                    </div>
                                    <div class="nk-block-head">
                                        <div class="nk-block-des">
                                            <p class="lead">To configure the SDK, initialize it with the integration
                                                before or after your app has been initialized:</p>
                                        </div>
                                    </div>
                                    <div class="nk-block nk-block-lg">
                                        <div class="code-block">
                                            <h6 class="overline-title title" style="text-transform: none;">
                                            </h6><button class="btn btn-sm clipboard-init" title="Copy to clipboard"
                                                data-clipboard-target="#Toast2" data-clip-success="Copied"
                                                data-clip-text="Copy"><span class="clipboard-text">Copy</span></button>
                                            <pre class="prettyprint lang-html"
                                                id="Toast2"><span class="tag">import sentinel_sdk<br>from flask import Flask<br>from sentinel_sdk.integrations.flask import FlaskIntegration<br><br>sentinel_sdk.init(<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dsn="https://1c2dc5bb49d04b0fb4f5f46282e13944@o529196.ingest.sentinel.io/5648505",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;integrations=[FlaskIntegration()],<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;traces_sample_rate=1.0<br>)<br><br>app = Flask(__name__)</span></pre>
                                        </div>
                                    </div>
                                    <div class="nk-block-head">
                                        <div class="nk-block-des">
                                            <p class="lead">The above configuration captures both error and performance
                                                data. To reduce the volume of performance data captured, change
                                                <code>traces_sample_rate</code>&nbsp;to a value between 0 and 1.
                                            </p>
                                            <p class="lead">
                                                You can easily verify your Sentinel installation by creating a route
                                                that
                                                triggers an error:
                                            </p>
                                        </div>
                                    </div>
                                    <div class="code-block">
                                        <h6 class="overline-title title" style="text-transform: none;">
                                        </h6><button class="btn btn-sm clipboard-init" title="Copy to clipboard"
                                            data-clipboard-target="#Toast2" data-clip-success="Copied"
                                            data-clip-text="Copy"><span class="clipboard-text">Copy</span></button>
                                        <pre class="prettyprint lang-html"
                                            id="Toast2"><span class="tag">@app.route('/debug-sentinel')<br>def trigger_error():<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;division_by_zero = 1 / 0</pre>
                                    </div>
                                    <br>
                                    <div class="nk-block-des">
                                        <p class="lead">Visiting this route will trigger an error that will be captured
                                            by Sentinel.</p>
                                    </div>
                                    <br>
                                    <ul class="preview-btn-list preview-btn-list-fw">
                                        <li class="preview-btn-item"><a href="#"
                                                class="btn btn-lg btn-outline-primary">Take me
                                                to issues</a></li>
                                        <li class="preview-btn-item"><a href="#"
                                                class="btn btn-lg btn-outline-secondary">Take me
                                                to performance</a></li>
                                    </ul>

                                </div>

                                <!-- footer @s -->
                                {% include "footer.html" %}
                                <!-- footer @e -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "script.html" %}
</body>
{% endblock %}