<div class="nk-header nk-header-fixed is-light  nk-header-fixed">
    <div class="container-lg wide-xl">
        <div class="nk-header-wrap">
            <div class="nk-header-brand"><a href="/demo4/index.html" class="logo-link"><img class="logo-light logo-img"
                        src="{{url_for('static', filename='images/logo.png')}}"
                        srcset="{{url_for('static', filename='images/logo2x.png')}} 2x" alt="logo"><img
                        class="logo-dark logo-img" src="{{url_for('static', filename='images/logo-dark.png')}}"
                        srcset="{{url_for('static', filename='images/logo-dark2x.png')}} 2x" alt="logo-dark"></a></div>
            <div class="nk-header-menu">
                <ul class="nk-menu nk-menu-main">
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-text">My Projects</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="/demo4/apps-messages.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Messages</span></a>
                            </li>
                            <li class="nk-menu-item"><a href="/demo4/apps-inbox.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Inbox /
                                        Mail</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-file-manager.html" class="nk-menu-link"><span
                                        class="nk-menu-text">File
                                        Manager</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-chats.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Chats /
                                        Messenger</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-calendar.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Calendar</span><span
                                        class="nk-menu-badge badge-warning">New</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-kanban.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Kanban
                                        Board</span><span class="nk-menu-badge badge-warning">New</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-text">All Environments</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="/demo4/apps-messages.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Messages</span></a>
                            </li>
                            <li class="nk-menu-item"><a href="/demo4/apps-inbox.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Inbox /
                                        Mail</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-file-manager.html" class="nk-menu-link"><span
                                        class="nk-menu-text">File
                                        Manager</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-chats.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Chats /
                                        Messenger</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-calendar.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Calendar</span><span
                                        class="nk-menu-badge badge-warning">New</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-kanban.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Kanban
                                        Board</span><span class="nk-menu-badge badge-warning">New</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-text">Last 14 Days</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="/demo4/apps-messages.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Messages</span></a>
                            </li>
                            <li class="nk-menu-item"><a href="/demo4/apps-inbox.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Inbox /
                                        Mail</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-file-manager.html" class="nk-menu-link"><span
                                        class="nk-menu-text">File
                                        Manager</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-chats.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Chats /
                                        Messenger</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-calendar.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Calendar</span><span
                                        class="nk-menu-badge badge-warning">New</span></a></li>
                            <li class="nk-menu-item"><a href="/demo4/apps-kanban.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Kanban
                                        Board</span><span class="nk-menu-badge badge-warning">New</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <li class="dropdown notification-dropdown"><a href="#" class="dropdown-toggle nk-quick-nav-icon"
                            data-toggle="dropdown">
                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                            <div class="dropdown-head"><span class="sub-title nk-dropdown-title">Notifications</span><a
                                    href="#">Mark All as Read</a></div>
                            <div class="dropdown-body">
                                <div class="nk-notification">
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon"><em
                                                class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">You have requested to
                                                <span>Widthdrawl</span>
                                            </div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon"><em
                                                class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">Your <span>Deposit
                                                    Order</span> is placed</div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon"><em
                                                class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">You have requested to
                                                <span>Widthdrawl</span>
                                            </div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon"><em
                                                class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">Your <span>Deposit
                                                    Order</span> is placed</div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon"><em
                                                class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">You have requested to
                                                <span>Widthdrawl</span>
                                            </div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon"><em
                                                class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">Your <span>Deposit
                                                    Order</span> is placed</div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-foot center"><a href="#">View All</a></div>
                        </div>
                    </li>
                    <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle mr-lg-n1"
                            data-toggle="dropdown">
                            <div class="user-toggle">
                                <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                <div class="user-card">
                                    <div class="user-avatar"><span>AB</span></div>
                                    <div class="user-info"><span class="lead-text">Abu Bin
                                            Ishtiyak</span><span class="sub-text">info@softnio.com</span></div>
                                    <div class="user-action"><a class="btn btn-icon mr-n2"
                                            href="/demo4/user-profile-setting.html"><em
                                                class="icon ni ni-setting"></em></a></div>
                                </div>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="/demo4/user-profile-regular.html"><em
                                                class="icon ni ni-user-alt"></em><span>View
                                                Profile</span></a></li>
                                    <li><a href="/demo4/user-profile-setting.html"><em
                                                class="icon ni ni-setting-alt"></em><span>Account
                                                Setting</span></a></li>
                                    <li><a href="/demo4/user-profile-activity.html"><em
                                                class="icon ni ni-activity-alt"></em><span>Login
                                                Activity</span></a></li>
                                </ul>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign
                                                out</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="d-lg-none"><a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em
                                class="icon ni ni-menu"></em></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>