{% extends "base.html" %}

{% block content %}

<body class="nk-body bg-white npc-default has-aside ">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap ">
                {% include "header.html" %}
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include "aside.html" %}
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Create a new Project</h3>
                                            <div class="nk-block-des">
                                                <p>Projects allow you to scope error and transaction events to a
                                                    specific application in your organization.<br>For example, you
                                                    might
                                                    have seperate project for your API server and frontend
                                                    client<span class="text-primary"></span></p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Choose Platform</h5>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block nk-block-lg">
                                        <div class="card card-preview">
                                            <div class="card-inner">
                                                <div class="row g-gs">
                                                    <div class="col-lg-4"><a
                                                            href="/demo4/components/elements/alerts.html"
                                                            class="card card-bordered text-soft">
                                                            <div class="card-inner">
                                                                <div class="align-center justify-between">
                                                                    <div class="g">
                                                                        <h6 class="title">Django</h6>
                                                                        <p></p>
                                                                    </div>
                                                                    <div class="g">
                                                                        <!-- img -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-4"><a
                                                            href="/demo4/components/elements/accordions.html"
                                                            class="card card-bordered text-soft">
                                                            <div class="card-inner">
                                                                <div class="align-center justify-between">
                                                                    <div class="g">
                                                                        <h6 class="title">Flask</h6>
                                                                        <p></p>
                                                                    </div>
                                                                    <div class="g">
                                                                        <!-- img -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-4"><a
                                                            href="/demo4/components/elements/accordions.html"
                                                            class="card card-bordered text-soft">
                                                            <div class="card-inner">
                                                                <div class="align-center justify-between">
                                                                    <div class="g">
                                                                        <h6 class="title">Node.Js</h6>
                                                                        <p></p>
                                                                    </div>
                                                                    <div class="g">
                                                                        <!-- img -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Give your project a name</h5>
                                        </div>
                                    </div>
                                    <div class="card card-bordered">
                                        <div class="card-inner-group">
                                            <div class="card-inner">
                                                <div class="row g-gs">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="form-control-wrap"><input type="text"
                                                                    class="form-control" id="default-01"
                                                                    placeholder="Project Name"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <a href="{{url_for('main.getting_started', organization_name='expava-engineering', project_name='microblog', platform='python-flask')}}"
                                                            class="btn btn-wider btn-primary">
                                                            <span>Create Project</span>
                                                            <em class="icon ni ni-arrow-right"></em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer @s -->
                                {% include "footer.html" %}
                                <!-- footer @e -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "script.html" %}
</body>
{% endblock %}