<script src="{{url_for('static', filename='js/bundle.js')}}"></script>
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script src="{{url_for('static', filename='js/demo-settings.js')}}"></script>
<script src="{{url_for('static', filename='js/charts/gd-default.js')}}"></script>